body {
    margin: 0;
    background: #6e0b16;
    background-image: radial-gradient(circle at center, #8b0015, #5a000f);
    font-family: 'Playfair Display', serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* сцены */
.scene {
    display: none;
    animation: fadeIn 0.8s ease;
}

.active {
    display: block;
}

@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.95); }
    to { opacity: 1; transform: scale(1); }
}

/* конверт */
.envelope {
    width: 520px;
    cursor: pointer;
    transition: transform 0.4s ease, filter 0.4s ease;
}

.envelope:hover {
    transform: scale(1.05);
}

/* карточка */
.card {
    background: #f4e6d4;
    width: 650px;
    padding: 50px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 25px 50px rgba(0,0,0,0.5);
    border: 12px solid #e9d8c4;
}

h1 {
    font-weight: 400;
    color: #7a0014;
    font-size: 36px;
}

h1 span {
    font-family: 'Great Vibes', cursive;
    font-size: 60px;
}

.buttons {
    margin-top: 40px;
}

button {
    background: #7a0014;
    color: white;
    border: none;
    padding: 14px 35px;
    margin: 15px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #a0001c;
    transform: scale(1.1);
}

.cry {
    width: 220px;
    margin-top: 25px;
}

.photo {
    width: 320px;
    margin-top: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.4);
} 

.hearts {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 30px;
}

.heart {
    font-size: 50px;
    cursor: pointer;
    transition: 0.3s;
}

.heart:hover {
    transform: scale(1.3);
}
.buttons {
    position: relative;
}

#noBtn {
    position: relative;
    transition: left 0.3s ease, top 0.3s ease;
}

